<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Door Sensor Logs</title>
		
		<!-- Capture token for ember to use in AJAX requests to Django Rest-->
		<meta name="csrf-token" content="{{csrf_token}}">
		

		  				     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../static/ember/js/vendor/bs-for-ember/js/bootstrap-table.min.css">


		<!-- CSS -->
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/bootstrap-3.3.5/css/bootstrap.css">
		<link rel="stylesheet" href="../static/ember/js/vendor/bs-for-ember/css/bs-growl-notifications.min.css">
		</head>

	<body>
		<!--Ember core libraries -->
		<script src="../static/ember/js/vendor/jquery.js"></script>
		<script src="../static/ember/js/vendor/handlebars.js"></script>
		<script src="../static/ember/js/vendor/ember.js"></script>
		<script src="../static/ember/js/vendor/ember-data.js"></script>

		<!-- (optional) Bootstrap for Ember libraries -->
		<script src="../static/ember/js/vendor/bs-for-ember/js/bs-core.min.js"></script>
		
		<!-- (optional) BS for ember components -->
		<script src="../static/ember/js/vendor/bs-for-ember/js/bs-alert.min.js"></script>
		<script src="../static/ember/js/vendor/bs-for-ember/js/bs-badge.min.js"></script>
		<script src="../static/ember/js/vendor/bs-for-ember/js/bs-basic.min.js"></script>
		<script src="../static/ember/js/vendor/bs-for-ember/js/bs-button.min.js"></script>
		<script src="../static/ember/js/vendor/bs-for-ember/js/bs-growl-notifications.min.js"></script>
		<script src="../static/ember/js/vendor/bs-for-ember/js/bs-label.min.js"></script>
		<script src="../static/ember/js/vendor/bs-for-ember/js/bs-list-group.min.js"></script>
		<script src="../static/ember/js/vendor/bs-for-ember/js/bs-modal.min.js"></script>
		<script src="../static/ember/js/vendor/bs-for-ember/js/bs-nav.min.js"></script>
		<script src="../static/ember/js/vendor/bs-for-ember/js/bs-notifications.min.js"></script>
		<script src="../static/ember/js/vendor/bs-for-ember/js/bs-progressbar.min.js"></script>
		<script src="../static/ember/js/vendor/bs-for-ember/js/bs-wizard.min.js"></script>
		
		<!-- Ember app -->
  		<script src="../static/ember/js/application.js"></script>





	</body>
</html>

