<div class="container">	
	<div class="clearfix"></div>	

	<div class="container" style="padding-top: 10px;">
		{{outlet}}
	</div>
	<div class="clearfix"></div>
	{{bs-growl-notifications}}
	<footer>
        <p>Door Sense</p>
    </footer>
</div>


