         {{render "auth"}}
  
  <div id="page-wrapper"  align="center">

            <div class="container-fluid" >

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Metawear Logs
                        </h1>
                    </div>
                </div>
				
				
                <!-- /.row -->
                
                    <div class="col-lg-8" style="float:right;">
                        <h3>Last 10 logs</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped" data-toggle="table" data-pagination="true" data-search="true">
                                <thead>
                                    <tr>
                                        <th data-align="center" > Event <span class="glyphicon glyphicon-eye-open"> </span>  </th>
                                        <th data-align="center" > Time  <span class="glyphicon glyphicon-time"> </span> </th>
                                        <th data-align="center" data-sortable="true" > Date <span class="glyphicon glyphicon-calendar"> </span> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                     {{#each controller}}    
                                     {{#link-to "logg" id tagName='tr'}}                     
                                        <td><span class="badge">{{event}}</span></td> 
                                        <td>{{stime}}</td>  
                                        <td>{{sdate}}</td>
                                        {{/link-to}}
                                     {{/each}}
                                </tbody>
                            </table>
                        </div>

                         <br><br>
                    </div>
                
                <!-- /.row -->

				  
				  
				  
				  
				  
				  
				  
				  
				  
				  
				  
				  
				  
				  
				  
				  
				  
				  
				  
	

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

   
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>


    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>

