      {{render "auth"}}

        <div id="page-wrapper" align="center">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                           Temperature Logs
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-fw fa-desktop"></i>  <a href="/#/cpage">Control Panel</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-list"></i>  Temperature Logs
                            </li>
                        </ol>
                    </div>
                </div>

            

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

		
		

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>


